<launch>
  <arg name="rviz" default="false"/>

  <arg name="uav1_raw_lidar_topic" default="/rflysim/sensor0/mid360_lidar"/>
  <arg name="uav1_raw_imu_topic" default="/uav1/rflysim/imu_raw"/>
  <arg name="uav1_lidar_topic" default="/uav1/rflysim/lidar"/>
  <arg name="uav1_imu_topic" default="/uav1/rflysim/imu"/>
  <arg name="uav1_diagnostics_topic" default="/uav1/rflysim/adapter_diagnostics"/>
  <arg name="uav1_odom_topic" default="/uav1/mavros/odometry/out"/>
  <arg name="uav1_raw_odom_topic" default="/uav1/slam/odometry_raw"/>
  <arg name="uav1_cloud_topic" default="/uav1/slam/cloud_registered"/>

  <arg name="uav2_raw_lidar_topic" default="/rflysim/sensor10/mid360_lidar"/>
  <arg name="uav2_raw_imu_topic" default="/uav2/rflysim/imu_raw"/>
  <arg name="uav2_lidar_topic" default="/uav2/rflysim/lidar"/>
  <arg name="uav2_imu_topic" default="/uav2/rflysim/imu"/>
  <arg name="uav2_diagnostics_topic" default="/uav2/rflysim/adapter_diagnostics"/>
  <arg name="uav2_odom_topic" default="/uav2/mavros/odometry/out"/>
  <arg name="uav2_raw_odom_topic" default="/uav2/slam/odometry_raw"/>
  <arg name="uav2_cloud_topic" default="/uav2/slam/cloud_registered"/>

  <group ns="uav1">
    <node pkg="multi_uav_mission" type="rflysim_pointcloud_adapter.py" name="rflysim_pointcloud_adapter" output="screen">
      <param name="input_topic" value="$(arg uav1_raw_lidar_topic)" type="str"/>
      <param name="output_topic" value="$(arg uav1_lidar_topic)" type="str"/>
      <param name="diagnostics_topic" value="$(arg uav1_diagnostics_topic)" type="str"/>
      <param name="frame_id" value="uav1_lidar" type="str"/>
      <param name="layout_width" value="64" type="int"/>
      <param name="layout_height" value="272" type="int"/>
      <param name="scan_period_sec" value="0.1" type="double"/>
    </node>
    <node pkg="topic_tools" type="relay" name="rflysim_imu_relay" args="$(arg uav1_raw_imu_topic) $(arg uav1_imu_topic)" output="screen"/>
  </group>

  <group ns="uav2">
    <node pkg="multi_uav_mission" type="rflysim_pointcloud_adapter.py" name="rflysim_pointcloud_adapter" output="screen">
      <param name="input_topic" value="$(arg uav2_raw_lidar_topic)" type="str"/>
      <param name="output_topic" value="$(arg uav2_lidar_topic)" type="str"/>
      <param name="diagnostics_topic" value="$(arg uav2_diagnostics_topic)" type="str"/>
      <param name="frame_id" value="uav2_lidar" type="str"/>
      <param name="layout_width" value="64" type="int"/>
      <param name="layout_height" value="272" type="int"/>
      <param name="scan_period_sec" value="0.1" type="double"/>
    </node>
    <node pkg="topic_tools" type="relay" name="rflysim_imu_relay" args="$(arg uav2_raw_imu_topic) $(arg uav2_imu_topic)" output="screen"/>
  </group>

  <group ns="uav1/slam">
    <rosparam command="load" file="$(find faster_lio)/config/mid360.yaml"/>
    <param name="common/lid_topic" value="$(arg uav1_lidar_topic)" type="str"/>
    <param name="common/imu_topic" value="$(arg uav1_imu_topic)" type="str"/>
    <param name="publish/tf_world_frame" value="uav1_camera_init" type="str"/>
    <param name="publish/tf_imu_frame" value="uav1_body" type="str"/>
    <param name="feature_extract_enable" type="bool" value="false"/>
    <param name="point_filter_num" type="int" value="3"/>
    <param name="max_iteration" type="int" value="3"/>
    <param name="filter_size_surf" type="double" value="0.5"/>
    <param name="filter_size_map" type="double" value="0.5"/>
    <param name="cube_side_length" type="double" value="1000"/>
    <param name="runtime_pos_log_enable" type="bool" value="false"/>

    <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen">
      <remap from="/Odometry" to="$(arg uav1_raw_odom_topic)"/>
      <remap from="/cloud_registered" to="$(arg uav1_cloud_topic)"/>
      <remap from="/cloud_registered_body" to="/uav1/slam/cloud_registered_body"/>
      <remap from="/cloud_registered_effect_world" to="/uav1/slam/cloud_registered_effect_world"/>
      <remap from="/path" to="/uav1/slam/path"/>
    </node>

    <node pkg="multi_uav_mission" type="odom_frame_relay.py" name="odom_frame_relay" output="screen">
      <param name="input_topic" value="$(arg uav1_raw_odom_topic)" type="str"/>
      <param name="output_topic" value="$(arg uav1_odom_topic)" type="str"/>
      <param name="frame_id" value="uav1_camera_init" type="str"/>
      <param name="child_frame_id" value="uav1_body" type="str"/>
      <param name="queue_size" value="20" type="int"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="laser_base_link" respawn="true" args="0 0 0 0 0 0 uav1_base_link uav1_lidar 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_body" respawn="true" args="0 0 0 0 0 0 uav1_body uav1_base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="slam_mavros" respawn="true" args="0 0 0 0 0 0 uav1_odom uav1_camera_init 100"/>
    <node pkg="tf" type="static_transform_publisher" name="odom_map" respawn="true" args="0 0 0 0 0 0 uav1_map uav1_odom 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="odom_ned" respawn="true" args="0 0 0 1.57079632679 0 3.14159265359 uav1_odom uav1_odom_ned 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="map_ned" respawn="true" args="0 0 0 1.57079632679 0 3.14159265359 uav1_map uav1_map_ned 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_frd" respawn="true" args="0 0 0 0 0 3.14159265359 uav1_base_link uav1_base_link_frd 100"/>
  </group>

  <group ns="uav2/slam">
    <rosparam command="load" file="$(find faster_lio)/config/mid360.yaml"/>
    <param name="common/lid_topic" value="$(arg uav2_lidar_topic)" type="str"/>
    <param name="common/imu_topic" value="$(arg uav2_imu_topic)" type="str"/>
    <param name="publish/tf_world_frame" value="uav2_camera_init" type="str"/>
    <param name="publish/tf_imu_frame" value="uav2_body" type="str"/>
    <param name="feature_extract_enable" type="bool" value="false"/>
    <param name="point_filter_num" type="int" value="3"/>
    <param name="max_iteration" type="int" value="3"/>
    <param name="filter_size_surf" type="double" value="0.5"/>
    <param name="filter_size_map" type="double" value="0.5"/>
    <param name="cube_side_length" type="double" value="1000"/>
    <param name="runtime_pos_log_enable" type="bool" value="false"/>

    <node pkg="faster_lio" type="run_mapping_online" name="laserMapping" output="screen">
      <remap from="/Odometry" to="$(arg uav2_raw_odom_topic)"/>
      <remap from="/cloud_registered" to="$(arg uav2_cloud_topic)"/>
      <remap from="/cloud_registered_body" to="/uav2/slam/cloud_registered_body"/>
      <remap from="/cloud_registered_effect_world" to="/uav2/slam/cloud_registered_effect_world"/>
      <remap from="/path" to="/uav2/slam/path"/>
    </node>

    <node pkg="multi_uav_mission" type="odom_frame_relay.py" name="odom_frame_relay" output="screen">
      <param name="input_topic" value="$(arg uav2_raw_odom_topic)" type="str"/>
      <param name="output_topic" value="$(arg uav2_odom_topic)" type="str"/>
      <param name="frame_id" value="uav2_camera_init" type="str"/>
      <param name="child_frame_id" value="uav2_body" type="str"/>
      <param name="queue_size" value="20" type="int"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="laser_base_link" respawn="true" args="0 0 0 0 0 0 uav2_base_link uav2_lidar 100"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_body" respawn="true" args="0 0 0 0 0 0 uav2_body uav2_base_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="slam_mavros" respawn="true" args="0 0 0 0 0 0 uav2_odom uav2_camera_init 100"/>
    <node pkg="tf" type="static_transform_publisher" name="odom_map" respawn="true" args="0 0 0 0 0 0 uav2_map uav2_odom 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="odom_ned" respawn="true" args="0 0 0 1.57079632679 0 3.14159265359 uav2_odom uav2_odom_ned 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="map_ned" respawn="true" args="0 0 0 1.57079632679 0 3.14159265359 uav2_map uav2_map_ned 1000"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_frd" respawn="true" args="0 0 0 0 0 3.14159265359 uav2_base_link uav2_base_link_frd 100"/>
  </group>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="stage7_fastlio_rviz" args="-d $(find faster_lio)/rviz_cfg/loam_livox.rviz"/>
  </group>
</launch>
