<launch>
    <!-- Simulation-only C++ mission smoke test. -->

    <arg name="smoke_test" default="true" />
    <arg name="allow_arming_service" default="false" />

    <node
        pkg="future_aircraft_mission"
        type="future_aircraft_mission_node"
        name="future_aircraft_mission"
        output="screen">

        <param
            name="smoke_test"
            value="$(arg smoke_test)" />

        <param
            name="uav1/allow_arming_service"
            value="$(arg allow_arming_service)" />

    </node>
</launch>
